[submodule "blockscout"]
	path = blockscout
        url = https://github.com/OffchainLabs/blockscout.git
[submodule "orbit-actions"]
	path = orbit-actions
	url = git@github.com:EspressoSystems/orbit-actions.git
	branch = integration
